.header {
    background-color: aliceblue;
    position: fixed;
    row-gap: 1em;
    align-items: center;
    z-index: 99;
    animation: header-animation 1s ease-in-out;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    width: 100%;
}

header b {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.5em;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    width: max-content;
}

.header-left>a>img {
    width: 4em;
}

.header-right {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1em;
    width: max-content;
}

.header-right > button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.social-media {
    width: 100%;
}

.social-media-buttons {
    display: flex;
    justify-content: flex-start;
    column-gap: 1em;
    align-content: center;
}

.social-media>h3 {
    width: auto;
    vertical-align: middle;
    text-align: left;
}

.social-media-buttons>h3 {
    width: auto;
    height: min-content;
    vertical-align: middle;
    text-align: center;
}

.social-media-buttons>a {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.social-media-buttons>a>img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.social-media-feed {
    width: auto;
    aspect-ratio: 9/16;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: lightgray;
    overflow-y: auto;
}

.social-media-feed>article {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.social-media-feed>article>div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3em 1fr;
    column-gap: 0.5em;
}

.social-media-feed>article>div>img {
    width: 3em;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    grid-row: 1/span 2;
}

.social-media-feed>article>h5 {
    width: 100%;
    text-align: left;
}