.header {
    /* background-color: aliceblue; */
    background-image: linear-gradient(to bottom, black, transparent);
    position: fixed;
    row-gap: 1em;
    align-items: center;
    z-index: 99;
    animation: header-animation 1s ease-in-out;
    width: 100%;
}

.header-light {
    background-color: #f8f9fa;
    background-image: none;
    border-bottom: green;
    border-bottom-width: 0.25em;
    border-bottom-style: solid;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    width: 100%;
}

.header-container b {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.5em;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    width: max-content;
}

.header-left>a>img {
    width: 4em;
}

.header-link {
    text-decoration: none;
}

.header-link:hover {
    text-decoration: none;
}

.header-right {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1em;
    width: max-content;
}

.header-right>button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #f8f9fa;
}

.footer-left{
    display: flex;
    justify-content: center;
}

.footer-name-logo {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    width: min-content;
    column-gap: 1em;
    height: 100%;
    margin: auto;
}

.footer-name-logo>h1 {
    width: max-content;
    height: min-content;
    text-align: center;
}

.footer-name-logo>h4 {
    width: max-content;
    text-align: center;
    grid-column: 2;
}

.footer-name-logo>a {
    grid-row: 1 / span 2;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
}

.footer-name-logo>a>img {
    width: 5em;
    aspect-ratio: 1/1;
}

.footer-category>h3 {
    width: 100%;
    text-align: center;
}

.footer-category-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.5em;
    height: 6em;
    width: 100%;
    flex-wrap: wrap;
}

.footer-links{
    margin: auto;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 1em;
    align-content: center;
    align-items: center;
}

.footer-container>em{
    display: block;
    width: 100%;
    text-align: center;
}

.social-media {
    width: 100%;
}

.social-media-buttons {
    display: flex;
    justify-content: flex-start;
    column-gap: 1em;
    align-content: center;
}

.social-media>h3 {
    width: auto;
    vertical-align: middle;
    text-align: left;
}

.social-media-buttons>h3 {
    width: auto;
    height: min-content;
    vertical-align: middle;
    text-align: center;
}

.social-media-buttons>a {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.social-media-buttons>a>img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.social-media-feed {
    width: auto;
    aspect-ratio: 9/27;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: lightgray;
    overflow-y: auto;
}

.social-media-feed>article {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.social-media-feed>article>div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3em 1fr;
    column-gap: 0.5em;
}

.social-media-feed>article>div>img {
    width: 3em;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    grid-row: 1/span 2;
}

.social-media-feed>article>h5 {
    width: 100%;
    text-align: left;
}

.link-text-dark {
    color: #343a40 !important;
}

.link-text-dark:hover {
    color: #343a40 !important;
}

.link-text-light {
    color: #f8f9fa !important;
}

.link-text-light:hover {
    color: #f8f9fa !important;
}

.news-list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.news-list > article{
    width: 100%;
    height: 9em;
    display: flex;
    flex-direction: row;
    grid-template-columns: 16em 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 0.75em;
}

.news-list>article>img{
    width: 18em;
    height: 9em;
    object-fit: cover;
}

.news-list-article-content {
    height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0.25em;
    border-radius: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}